/* ul {
  margin: 0;
  padding-left: 0;
}

li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  border-right: 1px solid #8e8f99;
  border-top: 1px solid #8e8f99;
}

li:last-child {
  border-right: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 360px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  background-color: #fcfcfc;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 155px;
  width: 155px;

  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.name {
  font-weight: 600;
}
.tag {
  font-style: italic;
}
.location {
}
.stats {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 100%;
  list-style: none;
}
.label {
}
.quantity {
  font-weight: 600;
} */
